body {
  background-color: whitesmoke;
}

.box {
  width: calc(100% / 4 - 20px);
  margin: 10px 10px;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.orange {
  color: orange;
}

i {
  font-size: 35px;
}
